@use "./variables" as *;

.heading-secondary {
  font-size: $font-size-section;
  font-weight: $font-weight-section;
}
.heading-primary {
  font-size: $font-size-title;
  font-weight: $font-weight-title;
}
