@use './variables' as *;
.u-margin-left-auto {
  margin-left: auto;
}
.u-width-min-content {
  width: min-content;
}
.u-margin-right-sm {
  margin-right: $spacing-xs;
}

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}