// COLOR Sass variables
$color-primary-blue: #3B82F6;
$color-sucess: #10B981;
$color-danger: #EF4444;
$color-text-main: #1F2937;
$color-slidebar: #111827;
$color-border: #E5E7EB;

// SPACING
$spacing-xs: .4rem; 
$spacing-sm: .8rem;
$spacing-md: 1.6rem;
$spacing-lg: 2.4rem;
$spacing-xl: 4rem;

// FONT-SIZE
$font-size-title: 2.4rem;
$font-size-section: 2rem;
$font-size-body: 1.6rem;
$font-size-caption: 1.4rem;

// FONT WEIGHT
$font-weight-title: 700;
$font-weight-section: 600;
$font-weight-body: 400;
$font-weight-caption: 500;